theme = "onedarker"

[editor]
line-number = "relative"
bufferline = "always"
mouse = false
true-color = true

[editor.cursor-shape]
insert = "bar"
normal = "block"

[editor.statusline]
right = ["selections", "position", "position-percentage", "spacer"]
